.resume_right .resume_hobby ul li i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .resume_right {
    width: 520px;
    background: #fff;
    padding: 25px;
  }
  
  .resume_right .bold {
    color: #0bb5f4;
  }
  
  .resume_right .resume_work ul,
  .resume_right .resume_education ul {
    padding-left: 40px;
    overflow: hidden;
  }
  
  .resume_right ul li {
    position: relative;
  }
  
  .resume_right ul li .date {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  
  .resume_right ul li .info {
    margin-bottom: 20px;
  }
  
  .resume_right ul li:last-child .info {
    margin-bottom: 0;
  }
  
  .resume_right .resume_work ul li:before,
  .resume_right .resume_education ul li:before {
    content: "";
    position: absolute;
    top: 5px;
    left: -25px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid #0bb5f4;
  }
  
  .resume_right .resume_work ul li:after,
  .resume_right .resume_education ul li:after {
    content: "";
    position: absolute;
    top: 14px;
    left: -21px;
    width: 2px;
    height: 115px;
    background: #0bb5f4;
  }
  
  .resume_right .resume_hobby ul {
    display: flex;
    justify-content: space-between;
  }
  
  .resume_right .resume_hobby ul li {
    width: 80px;
    height: 80px;
    border: 2px solid #0bb5f4;
    border-radius: 50%;
    position: relative;
    color: #0bb5f4;
  }
  
  .resume_right .resume_hobby ul li i {
    font-size: 30px;
  }
  
  .resume_right .resume_hobby ul li:before {
    content: "";
    position: absolute;
    top: 40px;
    right: -52px;
    width: 50px;
    height: 2px;
    background: #0bb5f4;
  }
  
  .resume_right .resume_hobby ul li:last-child:before {
    display: none;
  }
  